<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Online Image Gallery</h5>
      <p class="card-text">I made this Gallery to store images online in my firebase database using angular  </p>
      <a href="https://jatin9019.github.io/ImageGallery/image/upload" class="btn btn-primary">GITHUB LINK</a>
    </div>
</div>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">User Authentication</h5>
    <p class="card-text">I made this project for Authentication of a user using jwt webtoken and MongoDB is used as the database  </p>
    <a href="https://jatin9019.github.io/userAuthentication/login" class="btn btn-primary">GITHUB LINK</a>
  </div>
</div>